/*

Theme Name: Golden Gray
Description: golden gray for Drupal
Author: William Pramana
Contributor: Ported to Drupal by Chris Cook
*/

/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  background: #D8D4C9 url(images/bg-main.gif) repeat-x;
  font: 12px/20px Verdana, Arial, Tahoma, sans-serif;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
}
a:link {
  color: #666;
}
a:visited {
  color: #696969;
}
a:hover {
  color: #c00;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header, #content, #footer {
  width: 750px;
  margin: 0 auto;
}
#header {
  margin-top: 28px;
}
#sitemast {
  background: #6D6D74 url(images/bg-header.gif) no-repeat;
  height: 117px;
  padding: 35px 0 0 10px;
  padding: 0 0 0 10px;
  color: #FFF;
  border: 0;
}
#logo {
  display: none;
  float: left;
  padding: 0em 1.0em 0em 1em;
  border: 0;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#mission {
  margin: 0 1em;
  padding: 1.5em 2em;
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-style: italic;
  background-color: #CFD4CF;
}
#mission a, #mission a:visited {
  font-weight: bold;
}
.site-name {
  margin: 30px 0 0 0;
  padding: 0;
  font: 24px "Trebuchet MS", Georgia, serif;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  text-decoration: none;
}
.site-slogan {
  color: #eee;
  display: block;
  margin: 0;
  line-height: 18px;
  font-family: "Trebuchet MS", Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
#menu {
  padding: 15px;
  background-color: #fff;
}
#primary ul {
  margin: 0;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #FFF;
  background: #9FA19E;
  text-transform: uppercase;
}
#primary ul li {
  margin: 0; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#primary a:link, #primary a:visited {
  float: left;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  margin: 0 10px 4px 10px;
  padding-bottom: 2px;
  color: #fff;
  border-bottom: 4px solid #9FA19E;
}
#primary a.active, #primary a:hover, #primary a:focus {
  border-bottom: 4px solid #FFF !important;
  padding-bottom: 2px;
  background: #9FA19E;
  color: #D8D4C9;
  text-decoration: none;
}
#secondary {
  clear: left;
  padding-left: 20px;
  border-bottom: 2px solid #9FA19E;
}
#secondary a {
  font-weight: bold;
  color: #9FA19E;
}
#secondary a.active, #secondary a:hover, #secondary a:focus {
  border-bottom: 3px solid #9FA19E;
  text-decoration: none;
}
#subheader {
  padding: 0;
  background-color: #FFF;
}
#content {
  background-color: #FFF;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px 10px 10px 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #fff;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px 10px 10px 10px;
  vertical-align: top;
}
#footer {
  width: 750px;
  margin: 0 auto;
  background-color: #6D6D74;
  text-align: center;
  color: #FFF;
}
#footer p {
  margin: 0;
  padding: 5px;
}
#footer a:link, #footer a:visited { 
  color: #ACAB95;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title {
  font-size: 18px;
  font-family: Georgia, serif;
  font-weight: normal;
  margin: 1em 0 .2em 0;
  color: #6D6D74;
  background: url(images/post-icon.gif) no-repeat 0 50%;
  padding-left: 25px;
}
.title a {
  font-size: 18px;
  font-family: Georgia, serif;
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
  padding-bottom: 25px;
  background: url(images/entry-separate.gif) no-repeat center bottom;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

.feed-icon {
  margin-top: 10px;
}

/*
** Module specific styles
*/
#aggregator .feed {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
.gallery-teaser .title {
  background-image: none;
}